@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
@import "./Variables.scss";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
// body {
//   font-family: 'Roboto', sans-serif;
// }
@import "./Listings.scss";
@import "./Content-area.scss"


















